.list-items {
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    width: 100px;
    border-radius: 5px; /* 박스 모서리를 둥글게 만듭니다 */
    text-align: center; /* 텍스트를 가운데 정렬합니다 */
    color: #fff; /* 텍스트 색상을 흰색으로 변경합니다 */
  }

.num-1 {
background-color: #FF4136; /* 숫자 1의 색상: 빨간색 */
}

.num-2 {
background-color: #2ECC40; /* 숫자 2의 색상: 초록색 */
}

.num-3 {
background-color: #0074D9; /* 숫자 3의 색상: 파란색 */
}

.num-4 {
background-color: #FFDC00; /* 숫자 4의 색상: 노란색 */
}

.num-5 {
background-color: #B10DC9; /* 숫자 5의 색상: 보라색 */
}
